<div class="container">
  <section class="main row">
      <article class="col-md-9">
          <p>
              Una calculadora es un dispositivo que se utiliza para realizar cálculos aritméticos. 
              Aunque las calculadoras modernas incorporan a menudo un ordenador de propósito general, 
              se diseñan para realizar ciertas operaciones más que para ser flexibles. Por ejemplo, existen 
              calculadoras gráficas especializadas en campos matemáticos gráficos como la trigonometría y la estadística. 
              También suelen ser más portátiles que la mayoría de los computadores, si bien algunas PDAs tienen tamaños 
              similares a los modelos típicos de calculadora.
              <br>
              </p>
      </article>
      <aside class="aside col-md-3">
          <h3 class="text-center">¿Sabias que?</h3>
              <p>
                  - En 1973, la compañía Texas Instruments lanzó la primera calculadora científica.   
                  <br>
                  - Se invento una calculadora que permitia contar el consumo de tabaco.
                  <br>              
                  - Puedes calcular si tu hijo sera bipolar.
              </p>
      </aside >
  </section>

  
  <div class = "container">
      <br>
      <h3 class="consejos text-center display-4">Curiosidades</h3>
      <br> <br>
  </div>
 
  
  
  <div class="row">
      <div class="color1 col-md-3">
          <h3>Calcula cuánto pagarás por tu hipoteca en un santiamén</h3>
           Una de las más curiosas es sin duda alguna la calculadora de hipotecas. Saber cuánto les va a costar pagar su casa es un auténtico quebradero de cabeza para muchas personas, que encuentran en estas calculadoras una herramienta eficaz que les aclara mucho la situación.
      </div>
      <div class="color2 col-md-3">
          <h3>¿Cuándo llegaron a nuestras vidas las calculadoras tal como las conocemos hoy?</h3>
          A partir de entonces, surgieron distintos tipos de calculadoras hasta que, en 1961, se creara la primera completamente electrónica. Se trata de la “Sumlock Comptometer ANITA”. Ya en 1973, la compañía Texas Instruments lanzó la primera calculadora científica.
          </div>
      <div class="color3 col-md-3">
          <h3>¿Sabías que puedes calcular si desarrollarás psicosis?</h3>
           Suena a broma, pero no lo es. La calculadora de riesgo para el pronóstico en psicosis pronostica la probabilidad de que aquellos pacientes con alto riesgo terminen por padecer una psicosis completa, después de dos años.
      </div>
      <div class="color4 col-md-3">
          <h3>Ya puedes calcular cuándo vendrá tu bebé al mundo</h3>
          La llegada al mundo de un hijo es para la mayoría de las personas el día más especial de sus vidas. Es por ello que cuando se espera un hijo, se ansía saber con exactitud cuándo tendrá lugar tan feliz acontecimiento.
          Por ello, a día de hoy existe también una calculadora para fecha de parto, que a través de la fecha de la última regla antes del nacimiento muestra la del nacimiento. Dicha fecha es la de las 40 semanas de embarazo, de forma que si el parto es antes será prematuro, y el límite estaría en las 42 semanas.
      </div>
      